h1.rui-icon.rui-icon-left.rui-icon-calculator
  | Metrics for Every #{frequency} #{'Week'.pluralize(frequency)}

#chart

coffee:
  $ ->
    $(document).ajaxStart ->
      $('#chart').spin()

    $(document).ajaxStop ->
      $('#chart').spin(false)

    $.get '/metrics', (metrics) ->
      chart = c3.generate
        bindTo: '#chart'
        data: metrics
        bar:
          width: 20
        grid:
          y:
            show: true
        axis:
          x:
            type: 'category'
            label:
              text: 'Calendar Weeks'
              position: 'outer-left'
          y:
            label:
              text: 'Days'
              position: 'outer-bottom'

      chart.hide()

      setTimeout ->
        chart.toggle 'Cycle Time (Mean)'

        setTimeout ->
          chart.toggle 'Wait Time (Mean)'

          setTimeout ->
            chart.toggle 'Cycle Time (Mean) Rolling'

            setTimeout ->
              chart.toggle ['UCL', 'CL', 'LCL']
            , 500
          , 500
        , 500
      , 500
