h1 Amaze Hands for Pricing
h2 Metrics for Every #{Web::Views::Home::Metrics::WEEK_FREQUENCY} Weeks

#chart

coffee:
  $ ->
    $('#chart').spin()

    $.get '/metrics', (metrics) ->
      $('#chart').spin(false)

      c3.generate
        bindTo: '#chart'
        data: metrics
        bar:
          width:
            ratio: 0.5
        axis:
          y:
            label:
              text: 'Days'
              position: 'outer-middle'
