h1.rui-icon.rui-icon-left.rui-icon-calculator
  | Metrics for Every #{Web::Views::Home::Metrics::WEEK_FREQUENCY} Weeks

#chart

coffee:
  $ ->
    $('#chart').spin()

    $.get '/metrics', (metrics) ->
      $('#chart').spin(false)

      chart = c3.generate
        bindTo: '#chart'
        data: metrics
        bar:
          width:
            ratio: 0.5
        grid:
          y:
            show: true
        axis:
          x:
            type: 'categories'
          y:
            label:
              text: 'Days'
              position: 'outer-middle'

      chart.toggle ['Cycle Time', 'Wait Time']

      setTimeout ->
        chart.toggle 'Cycle Time'

        setTimeout ->
          chart.toggle 'Wait Time'
        , 500
      , 500
